@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500&display=swap');
@import url("./components/navbar.css");

html,
body {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  --space-between-block-items: 1rem;
  --space-between-inline-items: 0.5rem;
  --accent-color: #382e66;
  --low-contrast-color: #a1a1a1;
  --border-color: #ccc;
}

.sr-only {
  display: none;
}

.row {
  display: flex;
  gap: 2rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-inline: var(--space-between-block-items);
}

.container-max {
  padding-inline: var(--space-between-block-items);
}